<ul class="navbar sidenav bg-light-grey navbar-expand flex-column align-items-start">
	<a href="/" class="navbar-brand mt-2 mb-2"><img src="/images/logo_256.png" width="100px" height="100px" alt="TourneyChess Logo"></a>
    <a class="sidenav-link" href="/dashboard/home"><li class="sidenav-row {{#if homePage}}nav-active{{/if}}" href="#"><i class="las la-home sidenav-list-icon"></i> <div class="sidenav-list-title">Home</div></li></a>
    <a class="sidenav-link" href="/dashboard/tournaments"><li class="sidenav-row {{#if tourneyPage}}nav-active{{/if}}" href="#"><i class="las la-calendar sidenav-list-icon"></i> <div class="sidenav-list-title"> Tournaments</div></li></a>
	<a class="sidenav-link" href="/dashboard/tools"><li class="sidenav-row {{#if toolsPage}}nav-active{{/if}}" href="#"><i class="las la-toolbox sidenav-list-icon"></i> <div class="sidenav-list-title"> Tools <i class="las la-angle-right"></i></div></li></a>
    <a class="sidenav-link" href="/dashboard/options"><li class="sidenav-row {{#if optionsPage}}nav-active{{/if}}" href="#"><i class="las la-cog sidenav-list-icon"></i> <div class="sidenav-list-title"> Options</div></li></a>
	<a class="sidenav-link sidenav-bottom" href="/api/logout"><li class="sidenav-row" href="#"><i class="las la-sign-out-alt la-flip-horizontal sidenav-list-icon"></i> <div class="sidenav-list-title"> Log Out</div></li></a>
</ul>
