<ul class="navbar sidenav bg-light-grey navbar-expand flex-column align-items-start">
	<p href="/" class="navbar-brand">TourneyChess</p>
    <a class="sidenav-link" href="/"><li class="sidenav-row {{#if homePage}}nav-active{{/if}}" href="#"><i class="las la-home sidenav-list-icon"></i> <div class="sidenav-list-title">Home</div></li></a>
    <a class="sidenav-link" href="/tournaments"><li class="sidenav-row {{#if tourneyPage}}nav-active{{/if}}" href="#"><i class="las la-calendar sidenav-list-icon"></i> <div class="sidenav-list-title"> Tournaments</div></li></a>
    <a class="sidenav-link" href="/options"><li class="sidenav-row {{#if optionsPage}}nav-active{{/if}}" href="#"><i class="las la-cog sidenav-list-icon"></i> <div class="sidenav-list-title"> Options</div></li></a>
</ul>
