<h1>Welcome to TourneyChess</h1>
<p>The free online chess tournament manager</p>

<div class="footer row">
		<div class="footer-left col-3">
			<p>TourneyChess is completely free and <a href="https://github.com/anirudhgiri/tourney-chess" target="_blank" rel="noopener noreferrer">open source</a> under the <a href="https://choosealicense.com/licenses/ncsa/" target="_blank" rel="noopener noreferrer">NCSA Open Source License</a>
			<br><br>&copy; 2022, Anirudh Giri <br><a href="https://anirudhgiri.com" target="_blank" rel="noopener noreferrer">anirudhgiri.com</a><br></p>
		</div>


		<div class="footer-right col-4 offset-5">
			<h5>Enjoying TourneyChess?</h5>
			<p>It takes a lot of time, effort, and money to maintain and host this service. If you like the project, do consider sending in a <a href="https://www.buymeacoffee.com/anirudhgiri" target="_blank" rel="noopener noreferrer">tip</a> my way.</p>
			<a href="https://www.buymeacoffee.com/anirudhgiri" target="_blank" rel="noopener noreferrer"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=anirudhgiri&button_colour=FFDD00&font_colour=000000&font_family=Poppins&outline_colour=000000&coffee_colour=ffffff"></a>
		</div>
</div>
