<div class="container login-container">
	<div class="row login-row">
		<p class="col-4 offset-4 login-heading">SignUp to TourneyChess</p>
		<form class="col-3 offset-4 mt-2 shadow-lg login-form" id="signUpForm">
			<div class="form-group">
				<label for="tc_username">Username<span class="required-asterisk">*</span></label>
				<input class="form-control" type="text" id="tc_username" placeholder="Enter Username" required>
			</div>

			<div class="form-group mt-3">
				<label for="tc_email">Email<span class="required-asterisk">*</span></label>
				<input class="form-control" type="email" id="tc_email" placeholder="Enter Email Id" required>
			</div>

			<div class="form-group mt-3">
				<label for="password">Password<span class="required-asterisk">*</span></label>
				<input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" required>
			</div>

			<button type="submit" class="btn btn-primary mt-3 mb-3 form-control" id="signupSubmitButton">Submit</button>
			<script>
				document.getElementById("signupForm").addEventListener("click", async event => {
				event.preventDefault();

				const submitButton =  document.getElementById("signupSubmitButton");
				const usernameField = document.getElementById("tc_username");
				const emailField = document.getElementById("tc_email");
				const passwordField = document.getElementById("password");

				submitButton.innerHTML = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span> Signing Up...";
				submitButton.disabled = true;
				usernameField.disabled = true;
				emailField.disabled = true;
				passwordField.disabled = true;

				const username = document.getElementById("tc_username").value;
				const email = document.getElementById("tc_email").value;
				const password = document.getElementById("password").value;
				const credentials = {username, email, password};
				const options = {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(credentials)
				};
				let response = await fetch("/api/signup", options);
				if(response.status == 200)
					window.location.href = "/api/login";
				else{
					submitButton.innerHTML = "Submit";
					submitButton.disabled = false;
					usernameField.disabled = false;
					emailField.disabled = false;
					passwordField.disabled = false;
				}
			});
			</script>

			<i class="las la-user-check"></i><a href="/api/login" class="text-decoration-none"><small>Already have an account? Log In</small></a>
		</form>
	</div>
</div>
